{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "quotes": ["error", "double", { "avoidEscape": true }],
    "no-underscore-dangle": ["off"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  }
}
